:root {
    --purple: hsl(259, 100%, 65%);
    --red: hsl(0, 100%, 67%);
    --green: hsl(161, 100%, 17%);
    --white: hsl(0, 100%, 100%);
    --grey-100: hsl(0, 0%, 94%);
    --grey-200: hsl(0, 0%, 86%);
    --grey-500: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    --inp-fs: 32px;
    --ff: Poppins;
}

html, body { font-family: var(--ff), "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; }

#app {
    background: var(--grey-100);
    min-height: 100vh;
    min-width: 550px;
}

#content {
    background: var(--white);
    border-radius: .6rem .6rem 6.25rem .6rem;
    max-width: calc(100% - 36rem);
    min-width: 500px;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.15) 2px 2px 3px;
}

.fx { display: flex; }
.fww { flex-wrap: wrap; }
.fdc { flex-direction: column; }
.fdr { flex-direction: row; }

.ac { align-items: center; }

.start { justify-content: flex-start; }
.center { justify-content: center; }
.even { justify-content: space-evenly; }

.gp04 { gap: .4rem; }
.gp06 { gap: .6rem; }
.gp08 { gap: .8rem; }
.gp1 { gap: 1rem; }
.gp2 { gap: 2rem; }

.p04 { padding: .4rem; }
.p06 { padding: .6rem; }
.p08 { padding: .8rem; }
.p1 { padding: 1rem; }
.p2 { padding: 2rem; }

.br04 { border-radius: .4rem; }
.br06 { border-radius: .6rem; }
.br08 { border-radius: .8rem; }
.br1 { border-radius: 1rem; }
.br2 { border-radius: 2rem; }
.br50 { border-radius: 50%; }

.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }
.fw800 { font-weight: 800; }

.fs100 { font-size: .75rem; }
.fs200 { font-size: .875rem; }
.fs300 { font-size: 1rem; }
.fs400 { font-size: 1.25rem; }
.fs500 { font-size: 1.5rem; }
.fs600 { font-size: 2rem; }
.fs700 { font-size: 2.5rem; }
.fs800 { font-size: 3rem; }
.fs900 { font-size: 3.5rem; }
.fs1000 { font-size: 4rem; }

.w { width: 100%; }
.wa  { width: auto; }

.brt { border: 1px solid transparent; }
.brg { border: 1px solid var(--grey-200); }

.txt-p { color: var(--purple); }
.txt-b { color: var(--black); }
.txt-g2 { color: var(--grey-200); }
.txt-g5 { color: var(--grey-500); }

.bgw { background: var(--white); }

.pr { position: relative; }
.pa { position: absolute; }

.inp-tray label { text-transform: uppercase; letter-spacing: .2rem; }

.inp {
    min-width: 8rem;
    field-sizing: content;
    max-width: 100%;
    height: 4rem;
    caret-color: var(--purple);
}
.inp:focus { outline: 1px solid var(--purple); }
.inp:hover, .inp-tray label { cursor: pointer; }
.inp::placeholder { font-weight: 700; color: var(--grey-500); }

#submit-form.btn {
    display: inline-flex;
    align-items: center;
    background-color: var(--purple);
    cursor: pointer;
    transition: transform 0.06s ease-in-out, background-color .2s ease-in-out;
}
#submit-form.btn:active { transform: scale(90%); }
#submit-form.btn:hover { background-color: var(--black); }

.result > p { clamp(12px, 5cqw, 24px); }
.result > span { text-wrap: nowrap; text-align: center; }
.result > * { font-style: italic; }

.hr { background: var(--grey-100); opacity: .3; }
.msg { font-style: italic; text-wrap: pretty; max-width: 125px; }

.inp-tray.error .inp { border: 1px solid var(--red); }
.inp-tray.error label { color: var(--red); }
.msg.error { color: var(--red); }

.inp-tray.success .inp { border: 1px solid var(--green); }
.msg-tray { min-height: 50px; }
#fullDate-messages > p { max-width: none !important; }
#fullDate-messages { top: 0; right: 0; }