:root {
    --purple: hsl(259, 100%, 65%);
    --red: hsl(0, 100%, 67%);
    --white: hsl(0, 100%, 100%);
    --grey-100: hsl(0, 0%, 94%);
    --grey-200: hsl(0, 0%, 86%);
    --grey-500: hsl(0, 1%, 44%);
    --black: hsl(0, 0%, 0%);
    --inp-fs: 32px;
    --ff: Poppins, 'arial';
}

html, body {
    font-family: var(--ff);
}

.fx { display: flex; }
.fdc { flex-direction: column; }
.fdr { flex-direction: row; }

.ac { align-items: center; }

.start { justify-content: flex-start; }
.center { justify-content: center; }
.even { justify-content: space-evenly; }

.gp04 { gap: .4rem; }
.gp06 { gap: .6rem; }
.gp08 { gap: .8rem; }
.gp1 { gap: 1rem; }
.gp2 { gap: 2rem; }

.p04 { padding: .4rem; }
.p06 { padding: .6rem; }
.p08 { padding: .8rem; }
.p1 { padding: 1rem; }
.p2 { padding: 2rem; }

.br04 { border-radius: .4rem; }
.br06 { border-radius: .6rem; }
.br08 { border-radius: .8rem; }
.br1 { border-radius: 1rem; }
.br2 { border-radius: 2rem; }
.br50 { border-radius: 50%; }

.fw300 { font-weight: 300; }
.fw400 { font-weight: 400; }
.fw500 { font-weight: 500; }
.fw600 { font-weight: 600; }
.fw700 { font-weight: 700; }

.w { width: 100%; }
.wa  { width: auto; }

#content {
    max-width: 1440px;
    margin: 0 auto;
}

.inp-tray label {
    text-transform: uppercase;
}

.inp { min-width: 100px; }
.inp::placeholder { font-weight: 700; }

#submit-form.btn {
    background: var(--purple);
    border: 2px solid transparent;
    cursor: pointer;
    transition: transform 0.06s ease-in-out;
}

#submit-form.btn:active {
    transform: scale(90%);
}